body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%) */
}

.mat-raised-button{
    outline: none!important;
}

.mat-form-field{
    width: 100%!important;
}

.mat-button{
    outline: none!important;
}

.mat-spinner{
    position: absolute!important;
}

mat-icon-button {
    outline: none!important;
}

.cssLabel {
    position: relative;
    top: 5px;
    cursor: pointer;
}

i {
    font-size: 14px;
}


/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */